<div class="wrap">
    <ul class='form-circle'>
        <li class="form-circle__element">
            <a href="?id=7" class="button-btn">7</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="7"> -->
        </li>
        <li class="form-circle__element">
            <a href="?id=8" class="button-btn">8</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="8"> -->
        </li>
        <li class="form-circle__element">
            <a href="?id=9" class="button-btn">9</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="9"> -->
        </li>
        <li class="form-circle__element">
            <a href="?id=10" class="button-btn">10</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="10"> -->
        </li>
        <li class="form-circle__element">
            <a href="?id=11" class="button-btn">11</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="11"> -->
        </li>
    </ul>

    
        <a href="?gen=<?=$sessionid?>" class="submit">ПОЕХАЛИ!</a>
    
</div>