<div class="inform">Вы выбрали темы следующих классов:
    <div class="info"></div>
</div>
<div class="wrap">
    <ul class='form-circle'>
        <li class="form-circle__element">
            <a href="?class=7" class="btn-change" data-class="7">7</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="7"> -->
        </li>
        <li class="form-circle__element">
            <a href="?class=8" class="btn-change" data-class="8">8</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="8"> -->
        </li>
        <li class="form-circle__element">
            <a href="?class=9" class="btn-change" data-class="9">9</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="9"> -->
        </li>
        <li class="form-circle__element">
            <a href="?class=10" class="btn-change" data-class="10">10</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="10"> -->
        </li>
        <li class="form-circle__element">
            <a href="?class=11" class="btn-change" data-class="11">11</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="11"> -->
        </li>
    </ul>
    <ul class='form-circle_quad'>
        <li class="form-circle_quad__element">
            <a href="?quarter=1" class="btn-change-quad" data-quarter="1">1</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="7"> -->
        </li>
        <li class="form-circle_quad__element">
            <a href="?quarter=2" class="btn-change-quad" data-quarter="2">2</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="8"> -->
        </li>
        <li class="form-circle_quad__element">
            <a href="?quarter=3" class="btn-change-quad" data-quarter="3">3</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="9"> -->
        </li>
        <li class="form-circle_quad__element">
            <a href="?quarter=4" class="btn-change-quad" data-quarter="4">4</a>
            <!-- <img src='//i.imgur.com/y6KYdvS.png' alt="10"> -->
        </li>
    </ul>
    <a href="?gen=<?=$sessionid?>" class="submit">ПОЕХАЛИ!</a>
</div>